body{
    background-color: rgb(193, 213, 154);
}

header{
    display: flex;
    flex-flow: column;
    text-align: center;
    font-style: oblique;    
}

.allImgs{
    max-width: 300px;
    max-height: 300px;
}

main{
    display: flex;
    flex-flow: column;
    text-align: center;
}

p{
    font-size:large;
    font-weight: 500;
}

.speak{
    font-size: x-large;
    font-weight: bolder;
    font-style: oblique;
}

footer{
    display: flex;
    justify-content: end;
    font-size: small;
    color: rgba(2, 2, 2, 0.633);
    font-style: oblique;
}
