body{
    background-color: rgb(193, 213, 154);
}
.allImgs{
    max-width: 300px;
    max-height: 300px;
}
main{
    display: flex;
    text-align: center;
}

p{
    font-size:large;
    font-weight: 500;
}

.speak{
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
}
footer{
    display: flex;
    justify-content: center;
    font-size: x-small;
}